/*
 * App Custom App variables SCSS
 * ----------------------------------------------------------------------------
 * Place here all custom app variables.
 */

 $brand-color: #C50E70 !default;
 $danger:       $brand-color !default;
