/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * Place here custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
 :root {
    --ion-toolbar-background: #E00800;
    --ion-toolbar-background-color: #E00800;
    --ion-toolbar-color: #ffffff;
    --core-header-toolbar-background: #E00800;

    ion-header {
        ion-toolbar {
            --background: #E00800;
            --color: #ffffff;
            
            ion-title, ion-button, ion-back-button {
                --color: #ffffff;
            }
        }
    }

    .toolbar-background {
        background: #E00800;
    }

    ion-toolbar {
        --background: #E00800;
        --color: #ffffff;
    }
}

/*
 * Dark Theme
 * -------------------------------------------
 */
:root.dark {
    --ion-toolbar-background: #E00800;
    --ion-toolbar-background-color: #E00800;
    --ion-toolbar-color: #ffffff;
    --core-header-toolbar-background: #E00800;

    ion-header {
        ion-toolbar {
            --background: #E00800;
            --color: #ffffff;
            
            ion-title, ion-button, ion-back-button {
                --color: #ffffff;
            }
        }
    }

    .toolbar-background {
        background: #E00800;
    }

    ion-toolbar {
        --background: #E00800;
        --color: #ffffff;
    }
}